name: Build

on:
  pull_request:
  push:

permissions: {} # jobs specify their own permissions

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-24.04
            os: x86_64-linux
          - runs-on: ubuntu-24.04-arm
            os: aarch64-linux
    name: Build container (${{ matrix.os }})
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: samueldr/lix-gha-installer-action@f526e761e1ad201b0f4231f61a2a569f17bcc2ac
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run checks
        run: nix flake check
      - name: Build container
        env:
          MATRIX_OS: ${{ matrix.os }}
        run: |
          $(nix build '.#container' --no-link --print-out-paths) | gzip --fast > "container-$MATRIX_OS.tar.gz"
      - name: Upload container tar
        uses: actions/upload-artifact@v5
        with:
          name: "container-${{ matrix.os }}.tar.gz"
          path: "container-${{ matrix.os }}.tar.gz"
          compression-level: 0 # already compressed

  upload-container:
    name: Combine and upload container to GHCR
    if: github.event_name == 'push'
    runs-on: [ubuntu-24.04]
    needs: build
    permissions:
      contents: read
      packages: write # this action uploads to GHCR
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: samueldr/lix-gha-installer-action@f526e761e1ad201b0f4231f61a2a569f17bcc2ac
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Fetch built containers
        uses: actions/download-artifact@v6
        with:
          path: containers
          pattern: container-*
          merge-multiple: true
      - name: Merge and upload containers
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF_NAME: ${{ github.ref_name }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_REPO: ${{ github.repository }}
        run: nix run '.#upload-container'
